{% extends 'layout.html' %}
{% block content %}
	<h1>Calculate perimeter and area of a circle</h1>
    <form method="post">
        <input type="text" name="radius" placeholder="Enter radius" required="required" />

        <label for="operation">Operation</label>
        <select id="operation" name="operation">
            <option value="perimeter">Find perimeter</option>
            <option value="area">Find area</option>
        </select>

        <button type="submit">Calculate</button>
    </form>

   <br>

   {{ printed_result }}

{% endblock %}